# Dependencies
/node_modules

# Logs
/logs

# Public resources
/public
/tmp
~/

# Testing
/coverage

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock
.idea

